﻿@using TopNews.Core.DTOs.Post;
@model PostDTO;

@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    <link rel="stylesheet" href="~/dashboard/plugins/summernote/summernote-bs4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Post managament</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Create post</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Create post</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 offset-3">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">New post</h3>
                                </div>
                                @if (@ViewBag.AuthError != null)
                                {
                                    <span class="text-danger mt-3">@ViewBag.AuthError</span>
                                }

                                <form method="post" id="formElem" asp-action="AddPost" enctype="multipart/form-data">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input type="text" asp-for="@Model.Title" class="form-control" placeholder="Title" />
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea id="summernote" type="text" asp-for="@Model.Description" class="form-control">Place <em>your</em> <u>post</u> <string>heare...</string></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Text</label>
                                            <textarea id="text" type="text" asp-for="@Model.Text" class="form-control">Place <em>your</em> <u>post</u> <string>heare...</string></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="custom-select form-control-border"></select>
                                        </div>

                                        <div class="form-group">
                                            <label>Cropped Image</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input input type="file" name="File" id="imageInput" asp-for="@Model.File" class="custom-file-input" />
                                                    <label class="custom-file-label">Choose file...</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Cropped Image</label>
                                            <div id="imageContainer" style="max-width: 100%; max-height: 500px; overflow: hidden;">
                                                <img src="" id="imagePreview" style="max-width: 100%;" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Cropped Image Result</label>
                                            <div id="croppedImageContainer" style="max-width: 100%; max-height: 500px; overflow: hidden;">
                                                <img src="" id="croppedImage" name="File" style="max-width: 100%;" />
                                            </div>
                                        </div>

                                        <div hidden>
                                            <input type="file" id="CroppedImage" name="CroppedImage" asp-for="@Model.CroppedImage" />
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" id="createButton" class="btn btn-primary">Create</button>
                                            
                                        </div>
                                    </div>
                                </form> 
                                <button id="cropButton" class="btn btn-primary">Crop</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        var $imageInput = $("#imageInput");
        var $imagePreview = $("#imagePreview");
        var $imageContainer = $("#imageContainer");
        var cropper;

        $imageInput.change(function () {
            var file = this.files[0];
            console.log("File " + this.files[0].name);
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $imageContainer.show();
                    $imagePreview.attr("src", e.target.result);

                    cropper = new Cropper($imagePreview[0], {
                        aspectRatio: 16 / 9, 
                        viewMode: 1, 
                    });
                };
                reader.readAsDataURL(file);
            } else {
                $imageContainer.hide();
                $imagePreview.attr("src", "");
                if (cropper) {
                    cropper.destroy(); 
                }
            }
        });

        $("#cropButton").click(function () {
            var croppedImageDataURL = cropper.getCroppedCanvas().toDataURL("image/png");
           //console.log(croppedImageDataURL);
            $("#croppedImage").attr("src", croppedImageDataURL);

            
            //var base64Data = croppedImageDataURL.split(',')[1];
            //var byteCharacters = atob(base64Data);
            //var byteNumbers = new Array(byteCharacters.length);

            //for (var j = 0; j < byteCharacters.length; j++) {
            //    byteNumbers[j] = byteCharacters.charCodeAt(j);
            //}

            //var byteArray = new Uint8Array(byteNumbers);
            //var blob = new Blob([byteArray], { type: 'image/png' });
            //console.log(blob)
            //var formData = new FormData(formElem);
            //formData.set('file', blob, 'cropped.png');
            //var croppedImageInput = document.getElementById('CroppedImage');
            //var croppedImageFile = croppedImageInput.files[0];
            //formData.append('CroppedImage', croppedImageFile);

            //console.log(formData);




            //var croppedImageInput = document.getElementById('CroppedImage'); // Отримати поле вводу файлу за ідентифікатором

            //var croppedImageValue = croppedImageInput.value; // Отримати значення поля
            //console.log(croppedImageInput);
            //console.log("value" + croppedImageValue);
            //if (croppedImageInput && croppedImageInput.files.length > 0) {
            //    // Поле вводу файлу існує і в ньому є вибрані файли
            //    var selectedFile = croppedImageInput.files[0];
            //    console.log('Вибрано файл:', selectedFile);
            //} else {
            //    console.log('Поле вводу файлу порожнє або не існує');
            //}
        });

        
    });
</script>